@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum"), local("Cuprum Regular"), local("Cuprum-Regular"),
        url("../font/cuprum.woff2") format("woff2"),
        url("../font/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
  url("../font/cuprumitalic.woff2") format("woff2"),
  url("../font/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: local("Cuprum Bold Italic"), local("Cuprum-Bold-Italic"),
  url("../font/cuprumbolditalic.woff2") format("woff2"),
  url("../font/cuprumbolditalic.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 960px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overlay: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/** Шапка **/
.main-head {
  color: #32425c;
  background-color: #f4f7f9;
}

/* Верх шапки */
.main-head-top {
  margin-bottom: 47px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;

  background-color: #293449;
}

.main-head-top .container {
  display: flex;
}

/* Логотип */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;

  color: #fff;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
  outline: none;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

.logo-img {
  width: 109px;
  height: 19px;
}

/* Поиск */
.search {
  position: relative;
  width: 270px;
}

.search-input {
  width: 100%;
  height: 42px;
  padding: 0;
  padding-left: 49px;
  padding-right: 17px;

  font: inherit;

  background-color: #293449;

  border: none;
  outline: none;
}

.search-input:hover,
.search-box:hover .search-input {
  background-color: #212a3a;
}

.search-input:active {
  background-color: #293449;
}

.search-input:focus,
.search-box:hover .search-input:focus {
  color: #000;
  background-color: #fff;
}

.search-input::placeholder {
  color: #fff;
}

.search-input:focus::placeholder {
  color: #000;
}

.search-img {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-img path {
  fill: rgba(255, 255, 255, .3);
}

.search-box:hover > .search-img path {
  fill: #fff;
}

.search-input:focus + .search-img path {
  fill: #ee3643;
}

/* Ссылки действий с заказом */
.order-counter {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-counter-item {
  width: 150px;
}

.order-counter-link {
  position: relative;

  display: block;
  padding: 12px 0;
  color: #fff;

  outline: none;
}

.order-counter-link:hover,
.order-counter-link:focus {
  background-color: #212a3a;
}

.order-counter-link:active {
  background-color: #161d29;
}

.order-counter-link.bookmarks {
  padding-left: 44px;
}

.order-counter-link.cart {
  padding-left: 50px;
}

.order-counter-link.order {
  padding-left: 20px;
  padding-right: 22px;

  background-color: #63a63e;
}

.order-counter-link.order:hover,
.order-counter-link.order:focus {
  background-color: #5fbb2d;
}

.order-counter-link.order:active {
  color: rgba(255, 255, 255, .5);
  background-color: #518534;
}

.order-counter-link.bookmarks::before,
.order-counter-link.cart::before {
  position: absolute;
  top: 12px;

  background-repeat: no-repeat;

  opacity: .3;
  content: "";
}

.order-counter-link.bookmarks::before {
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
}

.order-counter-link.cart::before {
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
}

.order-counter-link.bookmarks:hover::before,
.order-counter-link.cart:hover::before,
.order-counter-link.bookmarks:focus::before,
.order-counter-link.cart:focus::before {
  opacity: 1;
}

.order-counter-link.bookmarks:active::before,
.order-counter-link.cart:active::before {
  opacity: .5;
}


/** Центр шапки **/
.main-head-middle {
  margin-bottom: 40px;
}

.main-head-middle .container {
  display: flex;
}

/* Слоган */
.main-head-middle .slogan {
  width: 300px;
  margin: 0;
  margin-right: 20px;
  padding-left: 53px;
  padding-right: 50px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

/* Контакты */
.main-head-middle .contact {
  width: 270px;
  font-style: normal;
}

.main-head-middle .contact-phone,
.main-head-middle .contact-address {
  margin: 0;
}

.main-head-middle .contact-phone {
  position: relative;

  margin-bottom: 5px;
  padding-top: 8px;
  padding-left: 71px;
  padding-right: 49px;
  padding-bottom: 9px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #e9292a;

  border: 3px solid #fff;
}

.main-head-middle .contact-phone::before {
  position: absolute;
  top: 10px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;

  content: "";
}

.main-head-middle .contact-address {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  text-align: center;
}

.profile {
  max-width: 300px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.profile-item {
  display: flex;
  flex-wrap: wrap;
}

.profile-item-top {
  margin-bottom: 8px;
}

.profile-item-bottom {}

.profile-link {
  position: relative;
  outline: none;
}

.profile-item-top .profile-link {
  margin-right: 10px;
  padding: 11px 25px;

  font-size: 21px;
  line-height: 21px;
  color: #000;
  
  background-color: #fff;
}

.profile-item-top .profile-link:hover,
.profile-item-top .profile-link:focus {
  color: #ee3643;
}

.profile-item-top .profile-link:active {
  color: #c5c5c5;
}

.profile-link:hover .icon-login path,
.profile-link:hover .icon-login polygon,
.profile-link:focus .icon-login path,
.profile-link:focus .icon-login polygon {
  fill: #32425c;
}

.profile-link:active .icon-login path,
.profile-link:active .icon-login polygon {
  fill: #c5c5c5;
}

.profile-item-bottom .profile-link {
  position: relative;

  margin-right: 33px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.profile-item-bottom .profile-link:hover,
.profile-item-bottom .profile-link:focus {
  color: #ee3643;
}

.profile-item-bottom .profile-link:active {
  color: rgba(50, 66, 92, .3);
}

.profile-item-bottom .profile-link:first-child {
  margin-left: 18px;
}

.profile-item-bottom .profile-link:last-child {
  margin-right: 0;
}

.profile-item-bottom .profile-link::before {
  position: absolute;
  top: 7px;
  right: -20px;

  width: 4px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;

  content: "";
}

.profile-item-bottom .profile-link:last-child::before {
  background-color: transparent;
}

.profile-link.icon {
  padding-left: 48px;
}

.profile-link:last-child {
  margin-right: 0;
}

.profile-link .icon-login {
  position: absolute;
  top: 13px;
  left: 14px;
}


